
    .style-0 {
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }

    .style-1 {
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-bottom: 16px;
        max-width: 1024px;
        -webkit-box-pack: justify;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;
        margin: 0px 0px 16px;
        padding: 0px;
    }

    .style-2 {
        font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
        font-size: 21px;
        font-weight: 900;
        letter-spacing: -0.2px;
        line-height: 28px;
        text-transform: none;
        margin: 0px;
        color: rgb(18, 18, 20);
        padding-left: 4px;
        box-sizing: border-box;
        padding: 0px 0px 0px 4px;
    }

    .style-3 {
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }

    .style-4 {
        margin-right: 4px;
        height: 40px;
        width: 40px;
        margin-left: 0px;
        border: 0px none rgba(16, 16, 16, 0.3);
        cursor: pointer;
        box-sizing: border-box;
        font-family: BasisGrotesque, Avenir, 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding: 0px;
    }

    .style-5 {
        fill: rgb(137, 137, 137);
        box-sizing: border-box;
    }

    .style-6 {
        fill: rgb(137, 137, 137);
        box-sizing: border-box;
    }

    .style-7 {
        height: 40px;
        width: 40px;
        margin-right: 8px;
        border: 0px none rgb(0, 0, 0);
        cursor: pointer;
        margin-left: 4px;
        box-sizing: border-box;
        font-family: BasisGrotesque, Avenir, 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding: 0px;
    }

    .style-8 {
        fill: rgb(18, 18, 20);
        box-sizing: border-box;
    }

    .style-9 {
        fill: rgb(18, 18, 20);
        box-sizing: border-box;
    }

    .style-10 {
        max-width: 1032px;
        padding: 4px 0px;
        scroll-snap-type: x mandatory;
        overflow-x: hidden;
        display: flex;
        box-sizing: border-box;
        margin: 0px;
    }

    .style-11 {
        transition: color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, transform 0.15s ease-in-out 0s;
        background-color: rgb(255, 255, 255);
        border-radius: 8px;
        box-shadow: rgba(35, 31, 32, 0.2) 0px 2px 4px 0px, rgba(35, 31, 32, 0.1) 0px 0px 1px 0px;
        color: rgb(35, 31, 32);
        flex: 1 0 auto;
        margin: 0px 8px;
        overflow: hidden;
        position: relative;
        text-align: center;
        user-select: none;
        width: 190px;
        scroll-snap-align: start;
        scroll-margin: 0px 8px;
        text-decoration: none solid rgb(35, 31, 32);
        font-weight: 700;
        box-sizing: border-box;
    }

    .style-12 {
        height: 154px;
        width: 190px;
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }

    .style-13 {
        max-width: 100%;
        width: 100%;
        box-sizing: border-box;
        border: 0px none rgb(35, 31, 32);
    }

    .style-14 {
        margin: 16px 0px;
        color: rgb(35, 31, 32);
        font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 900;
        letter-spacing: normal;
        line-height: 20px;
        text-transform: none;
        box-sizing: border-box;
        padding: 0px;
    }

    .style-15 {
        transition: color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, transform 0.15s ease-in-out 0s;
        background-color: rgb(255, 255, 255);
        border-radius: 8px;
        box-shadow: rgba(35, 31, 32, 0.2) 0px 2px 4px 0px, rgba(35, 31, 32, 0.1) 0px 0px 1px 0px;
        color: rgb(35, 31, 32);
        flex: 1 0 auto;
        margin: 0px 8px;
        overflow: hidden;
        position: relative;
        text-align: center;
        user-select: none;
        width: 190px;
        scroll-snap-align: start;
        scroll-margin: 0px 8px;
        text-decoration: none solid rgb(35, 31, 32);
        font-weight: 700;
        box-sizing: border-box;
    }

    .style-16 {
        height: 154px;
        width: 190px;
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }

    .style-17 {
        max-width: 100%;
        width: 100%;
        box-sizing: border-box;
        border: 0px none rgb(35, 31, 32);
    }

    .style-18 {
        margin: 16px 0px;
        color: rgb(35, 31, 32);
        font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 900;
        letter-spacing: normal;
        line-height: 20px;
        text-transform: none;
        box-sizing: border-box;
        padding: 0px;
    }

    .style-19 {
        transition: color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, transform 0.15s ease-in-out 0s;
        background-color: rgb(255, 255, 255);
        border-radius: 8px;
        box-shadow: rgba(35, 31, 32, 0.2) 0px 2px 4px 0px, rgba(35, 31, 32, 0.1) 0px 0px 1px 0px;
        color: rgb(35, 31, 32);
        flex: 1 0 auto;
        margin: 0px 8px;
        overflow: hidden;
        position: relative;
        text-align: center;
        user-select: none;
        width: 190px;
        scroll-snap-align: start;
        scroll-margin: 0px 8px;
        text-decoration: none solid rgb(35, 31, 32);
        font-weight: 700;
        box-sizing: border-box;
    }
.style-20 {
    height: 154px;
    width: 190px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.style-21 {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 0px none rgb(35, 31, 32);
}

.style-22 {
    margin: 16px 0px;
    color: rgb(35, 31, 32);
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: normal;
    line-height: 20px;
    text-transform: none;
    box-sizing: border-box;
    padding: 0px;
}

.style-23 {
    transition: color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, transform 0.15s ease-in-out 0s;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(35, 31, 32, 0.2) 0px 2px 4px 0px, rgba(35, 31, 32, 0.1) 0px 0px 1px 0px;
    color: rgb(35, 31, 32);
    flex: 1 0 auto;
    margin: 0px 8px;
    overflow: hidden;
    position: relative;
    text-align: center;
    user-select: none;
    width: 190px;
    scroll-snap-align: start;
    scroll-margin: 0px 8px;
    text-decoration: none solid rgb(35, 31, 32);
    font-weight: 700;
    box-sizing: border-box;
}

.style-24 {
    height: 154px;
    width: 190px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.style-25 {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 0px none rgb(35, 31, 32);
}

.style-26 {
    margin: 16px 0px;
    color: rgb(35, 31, 32);
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: normal;
    line-height: 20px;
    text-transform: none;
    box-sizing: border-box;
    padding: 0px;
}

.style-27 {
    transition: color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, transform 0.15s ease-in-out 0s;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(35, 31, 32, 0.2) 0px 2px 4px 0px, rgba(35, 31, 32, 0.1) 0px 0px 1px 0px;
    color: rgb(35, 31, 32);
    flex: 1 0 auto;
    margin: 0px 8px;
    overflow: hidden;
    position: relative;
    text-align: center;
    user-select: none;
    width: 190px;
    scroll-snap-align: start;
    scroll-margin: 0px 8px;
    text-decoration: none solid rgb(35, 31, 32);
    font-weight: 700;
    box-sizing: border-box;
}

.style-28 {
    height: 154px;
    width: 190px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.style-29 {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 0px none rgb(35, 31, 32);
}

.style-30 {
    margin: 16px 0px;
    color: rgb(35, 31, 32);
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: normal;
    line-height: 20px;
    text-transform: none;
    box-sizing: border-box;
    padding: 0px;
}

.style-31 {
    transition: color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, transform 0.15s ease-in-out 0s;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(35, 31, 32, 0.2) 0px 2px 4px 0px, rgba(35, 31, 32, 0.1) 0px 0px 1px 0px;
    color: rgb(35, 31, 32);
    flex: 1 0 auto;
    margin: 0px 8px;
    overflow: hidden;
    position: relative;
    text-align: center;
    user-select: none;
    width: 190px;
    scroll-snap-align: start;
    scroll-margin: 0px 8px;
    text-decoration: none solid rgb(35, 31, 32);
    font-weight: 700;
    box-sizing: border-box;
}

.style-32 {
    height: 154px;
    width: 190px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.style-33 {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 0px none rgb(35, 31, 32);
}

.style-34 {
    margin: 16px 0px;
    color: rgb(35, 31, 32);
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: normal;
    line-height: 20px;
    text-transform: none;
    box-sizing: border-box;
    padding: 0px;
}

.style-35 {
    transition: color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, transform 0.15s ease-in-out 0s;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(35, 31, 32, 0.2) 0px 2px 4px 0px, rgba(35, 31, 32, 0.1) 0px 0px 1px 0px;
    color: rgb(35, 31, 32);
    flex: 1 0 auto;
    margin: 0px 8px;
    overflow: hidden;
    position: relative;
    text-align: center;
    user-select: none;
    width: 190px;
    scroll-snap-align: start;
    scroll-margin: 0px 8px;
    text-decoration: none solid rgb(35, 31, 32);
    font-weight: 700;
    box-sizing: border-box;
}

.style-36 {
    height: 154px;
    width: 190px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.style-37 {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 0px none rgb(35, 31, 32);
}

.style-38 {
    margin: 16px 0px;
    color: rgb(35, 31, 32);
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: normal;
    line-height: 20px;
    text-transform: none;
    box-sizing: border-box;
    padding: 0px;
}

.style-39 {
    transition: color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, transform 0.15s ease-in-out 0s;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(35, 31, 32, 0.2) 0px 2px 4px 0px, rgba(35, 31, 32, 0.1) 0px 0px 1px 0px;
    color: rgb(35, 31, 32);
    flex: 1 0 auto;
    margin: 0px 8px;
    overflow: hidden;
    position: relative;
    text-align: center;
    user-select: none;
    width: 190px;
    scroll-snap-align: start;
    scroll-margin: 0px 8px;
    text-decoration: none solid rgb(35, 31, 32);
    font-weight: 700;
    box-sizing: border-box;
}

.style-40 {
    height: 154px;
    width: 190px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.style-41 {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 0px none rgb(35, 31, 32);
}

.style-42 {
    margin: 16px 0px;
    color: rgb(35, 31, 32);
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: normal;
    line-height: 20px;
    text-transform: none;
    box-sizing: border-box;
    padding: 0px;
}

.style-43 {
    transition: color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, transform 0.15s ease-in-out 0s;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(35, 31, 32, 0.2) 0px 2px 4px 0px, rgba(35, 31, 32, 0.1) 0px 0px 1px 0px;
    color: rgb(35, 31, 32);
    flex: 1 0 auto;
    margin: 0px 8px;
    overflow: hidden;
    position: relative;
    text-align: center;
    user-select: none;
    width: 190px;
    scroll-snap-align: start;
    scroll-margin: 0px 8px;
    text-decoration: none solid rgb(35, 31, 32);
    font-weight: 700;
    box-sizing: border-box;
}

.style-44 {
    height: 154px;
    width: 190px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.style-45 {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 0px none rgb(35, 31, 32);
}

.style-46 {
    margin: 16px 0px;
    color: rgb(35, 31, 32);
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: normal;
    line-height: 20px;
    text-transform: none;
    box-sizing: border-box;
    padding: 0px;
}

.style-47 {
    transition: color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, transform 0.15s ease-in-out 0s;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(35, 31, 32, 0.2) 0px 2px 4px 0px, rgba(35, 31, 32, 0.1) 0px 0px 1px 0px;
    color: rgb(35, 31, 32);
    flex: 1 0 auto;
    margin: 0px 8px;
    overflow: hidden;
    position: relative;
    text-align: center;
    user-select: none;
    width: 190px;
    scroll-snap-align: start;
    scroll-margin: 0px 8px;
    text-decoration: none solid rgb(35, 31, 32);
    font-weight: 700;
    box-sizing: border-box;
}

.style-48 {
    height: 154px;
    width: 190px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.style-49 {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 0px none rgb(35, 31, 32);
}

.style-50 {
    margin: 16px 0px;
    color: rgb(35, 31, 32);
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: normal;
    line-height: 20px;
    text-transform: none;
    box-sizing: border-box;
    padding: 0px;
}